@font-face {
    font-family: "Torus";
    src: url("assets/fonts/Torus/Torus-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
}
