@font-face {
    font-family: "Inter";
    src: url("assets/fonts/inter/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Torus";
    src: url("assets/fonts/torus/Torus-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Torus";
    src: url("assets/fonts/torus/Torus-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}
