body {
    --color-background: #111111;
    --color-white: #F0F0F0;
    margin: 0;
    background-color: var(--color-background);
}

.header {
    background: linear-gradient(to top left, #73A5FF, #B464FF80, #FF4BFF), linear-gradient(to top right, #5F55FF, #B464FF80, #EC76FF);
    background-color: #00000099;
    background-blend-mode: color;
}

.title {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.title > * {
    margin: 10px;
}

.title-picture {
    height: 48px;
    width: 48px;
    position: relative;
}

.title-picture-link {
    height: 100%;
    width: 100%;
    position: absolute;
}

.title-picture-image {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 6px;
    transition: 0.2s;
}

.title-picture:hover .title-picture-image {
    transform: scale(110%);
}

.title-text {
    font-family: Torus, Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
}

.header-fade {
    height: 16px;
    background: linear-gradient(to bottom, transparent, var(--color-background));
}

/*.projects {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.projects_header {*/
/*    justify-content: left;*/
/*    margin: 20px 40px;*/
/*    font-family: Torus, Inter, sans-serif;*/
/*    font-size: 28px;*/
/*    color: var(--color-white);*/
/*    text-align: center;*/
/*}*/

.under-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.under-construction > * {
    margin: 10px;
}

.under-construction-text {
    margin: 0;
    font-family: Torus, Inter, sans-serif;
    font-size: 14px;
    color: var(--color-white);
    text-align: center;
}

.github-repository {
    margin-top: 20px; /* Отступ на случай отсутствия Under Construction */
}

.github-repository-text {
    margin: 0;
    font-family: Torus, Inter, sans-serif;
    font-size: 14px;
    color: var(--color-white);
    text-align: center;
}
