:root {
    --color-background: #111111;
    --color-white: #F0F0F0;
    --color-black: #000000;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    margin: 0;
}

object {
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: Torus, Inter, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top left, #73A5FF, #B464FF80, #FF4BFF), linear-gradient(to top right, #5F55FF, #B464FF80, #EC76FF);
    background-color: #00000099;
    background-blend-mode: color;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.header-content-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 16px;
}

.header-content-title-picture {
    background-image: url("assets/favicons/apple-touch.png");
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    transition: 0.2s;
    position: relative;
}

.header-content-title-picture:hover {
    transform: scale(110%);
}

.header-content-title-text {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
    margin: 0;
    margin-top: -2px;
}

.header-content-version {
    font-size: 14px;
    color: var(--color-white);
    text-align: center;
    margin: 0;
}

.header-fade {
    height: 16px;
    background: linear-gradient(to bottom, transparent, var(--color-background));
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects-header {
    justify-content: left;
    font-size: 28px;
    color: var(--color-white);
    text-align: left;
    margin: 20px 40px;
}

.projects-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 40px;
}

.projects-items > * {
    width: 35%;
    min-width: 350px;
    max-width: 1100px;
    aspect-ratio: 11/6;
    text-decoration: none;
}

.projects-items-unit {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    aspect-ratio: 11/6;
    transition: 0.2s;
}

.projects-items-unit:hover {
    transform: scale(102%);
}

.projects-items-unit-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px;
}

.projects-items-unit-title-image {
    aspect-ratio: 1/1;
    display: flex;
    width: 10%;
}

.projects-items-unit-title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(14px + 4 * (100vw - 300px) / 900);
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    margin: 0;
    margin-top: -4px;
}

.projects-items-unit-description {
    display: flex;
    flex: content;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: calc(12px + 2 * (100vw - 300px) / 900);
    color: var(--color-white);
    text-align: center;
    margin: 20px;
}

.projects-items-unit.project-osu-parser {
    background-image: url("assets/images/svg/projects/osu-parser/LazerBackground.svg");
}

.projects-items-unit.project-diquoks-web {
    background-image: url("assets/images/svg/projects/diquoks-web/LegacyBackground.svg");
}

.projects-items-unit.project-osu-wiki {
    background-image: url("assets/images/svg/projects/osu-wiki/Background.svg");
}

.projects-items-unit-title-text.project-osu-wiki {
    color: var(--color-black);
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
}

.footer-fade {
    height: 16px;
    background: linear-gradient(to bottom, transparent, var(--color-black));
}

.external-assets {
    display: none;
}
